body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  padding: 0px;
  margin: 0px;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
